asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1
GDAL @ file:///C:/Users/YusuffAdekunleOyedel/PycharmProjects/foodOnline/GDAL-3.4.3-cp38-cp38-win_amd64.whl
Pillow==9.2.0
psycopg2==2.9.3
python-decouple==3.6
simplejson==3.18.0
sqlparse==0.4.2
tzdata==2022.2
